<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'posts/header'%>
  <div class="container has-background-light">
    <%= yield %>
  </div>
  </body>
</html>
